{% extends 'base.html' %}

{% block title %}个人空间{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <!-- 侧边栏导航 -->
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5>个人空间</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item active">
                        <a href="{% url 'profile' %}" class="text-white text-decoration-none">首页</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'user_comments' %}" class="text-dark text-decoration-none">评论管理</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'user_collections' %}" class="text-dark text-decoration-none">收藏管理</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="col-md-9">
            <!-- 个人空间首页内容 -->
            <div class="card">
                <div class="card-header">
                    <h5>欢迎回来，{{ request.user.username }}！</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">评论统计</h5>
                                    <p class="card-text">您共发布了 {{ comment_count }} 条评论</p>
                                    <a href="{% url 'user_comments' %}" class="btn btn-primary">查看评论</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">收藏统计</h5>
                                    <p class="card-text">您共收藏了 {{ collection_count }} 篇文章</p>
                                    <a href="{% url 'user_collections' %}" class="btn btn-primary">查看收藏</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}