# Virtual environment
.venv/

# IDE
.idea/

# Python
__pycache__/
*.pyc

# Django
*.log
logs/
# db.sqlite3 - Uncomment this line to ignore the database file

# Debug
debug_output/
# *.html - Uncomment this line to ignore HTML files

# Eggs
django_news_analysis.egg-info/

# Other
*.txt
!requirements.txt
*.md
!README.md
*.lock
